{{#if targetRoute}}
  {{#link-to targetRoute}}{{material-icon icon class='align-top'}} {{text}}{{/link-to}}
{{else if action}}
  <a class="d-block" {{action action}}>{{#if icon}}{{material-icon icon class='align-top'}}{{/if}} {{text}}</a>
{{/if}}