{{#if targetRoute}}
  {{#link-to targetRoute}}{{#if icon}}{{material-icon icon class='align-top'}}{{/if}}{{text}}{{/link-to}}
{{else if action}}
  <a href="#{{elementId}}" class="d-block" {{action action}}>{{#if icon}}{{material-icon icon class='align-top'}}{{/if}}{{text}}</a>
{{/if}}