<div class="list-group">
  {{#link-to 'home.settings.general' class='list-group-item list-group-item-action'}}
    {{material-icon 'settings' class='mr-3'}} General {{material-icon 'keyboard_arrow_right' class='float-right'}}
  {{/link-to}}
  {{#link-to 'home.settings.account' class='list-group-item list-group-item-action'}}
    {{material-icon 'account_circle' class='mr-3'}} Account {{material-icon 'keyboard_arrow_right' class='float-right'}}
  {{/link-to}}
  {{#link-to 'home.settings.notifications' class='list-group-item list-group-item-action'}}
    {{material-icon 'notifications' class='mr-3'}} Notifications {{material-icon 'keyboard_arrow_right' class='float-right'}}
  {{/link-to}}
</div>