{{to-elsewhere named='mobile-bar-top-btn-left' send=(hash
  targetRoute='home.posts.index'
  icon='keyboard_arrow_left'
  scaleIcon=true
  text='Archive'
)}}
{{to-elsewhere named='mobile-bar-top-title' send='Post'}}

{{#animated-value 'post-route' rules=transition duration=300}}
  <div class="mobile-page">
    {{#mobile-pane as |mp|}}
      {{#mp.infinite-scroller
        previousModel=previousModel
        currentModel=model
        nextModel=nextModel
      as |mpModel|}}
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <div class="card post" data-post-id="post-{{mpModel.id}}">
                {{#if mpModel.headerImage}}
                  <div>
                    <div class="img-responsive">
                      <img data-page-image-id="{{mpModel.id}}" class="img-fluid" src="{{mpModel.headerImage}}" alt="Generic placeholder image">
                    </div>
                  </div>
                {{/if}}
                <div class="card-body">
                  <h4 class="card-title">{{mpModel.title}}</h4>
                  <h6 class="card-subtitle mt-1 mb-3 text-muted d-inline-flex">
                    <img src="{{mpModel.author.avatar}}" alt="Avatar" class="rounded-circle mr-3" width="50" height="50">
                    <div class="d-flex flex-column justify-content-center">
                      <div>{{mpModel.author.name}}</div>
                      <div><small>{{moment-format mpModel.published 'DD-MM-YYYY HH:mm'}}</small></div>
                    </div>
                  </h6>
                  <p class="card-text">
                    {{{mpModel.bodyAsHtml}}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/mp.infinite-scroller}}
    {{/mobile-pane}}
  </div>
{{/animated-value}}