{{remember-document-scroll key="posts.index"}}

{{#mobile-pane activeIndex=pane lazyRendering=false onChange=(action 'setActiveTabQP') as |mp|}}

  {{#if elseWhereIsActive}}
    {{to-elsewhere named="mobile-bar-top" send=(component mp.nav class='pt-1 pl-2')}}
  {{/if}}

  {{#mp.scroller as |mps|}}
    {{#mps.pane title="All"}}
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h2>Posts archive</h2>

            <div class="list-group">
              {{#each model as |post|}}
                {{#link-to 'posts.post' post class="list-group-item" data-post-id=(concat "post-" post.id)}}
                  <div class="media">
                    <div class="mr-3" style="width: 30vw">
                      <div class="img-responsive">
                        <img data-page-image-id="{{post.id}}" class="img-fluid" src="{{post.headerImage}}" alt="Generic placeholder image">
                      </div>
                    </div>
                    <div class="media-body">
                      <div class="mt-0 font-weight-bold">{{post.title}}</div>
                    </div>
                  </div>
                {{/link-to}}
              {{/each}}
            </div>
            <br>
            <div class="form-group text-right">
              {{#link-to 'posts' class="btn btn-secondary"}}Pagination...{{/link-to}}
            </div>
          </div>
        </div>
      </div>
    {{/mps.pane}}
    {{#mps.pane title="Apps"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    {{/mps.pane}}
    {{#mps.pane title="Games"}}
      <h3>Nested panes</h3>
      {{#mobile-pane as |mpn|}}
        {{#mpn.scroller overScrollFactor=0 as |mpns|}}
          {{#mpns.pane}}
            <img class="img-fluid" src="/img/tomster.png">
          {{/mpns.pane}}
          {{#mpns.pane}}
            <img class="img-fluid" src="/img/tomster.png">
          {{/mpns.pane}}
          {{#mpns.pane}}
            <img class="img-fluid" src="/img/tomster.png">
          {{/mpns.pane}}
        {{/mpn.scroller}}
        {{mpn.simple-indicator}}
      {{/mobile-pane}}
    {{/mps.pane}}
    {{#mps.pane title="Movies"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      {{network-test}}
    {{/mps.pane}}
    {{#mps.pane title="Music"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Some card
        </div>
      </div>
    {{/mps.pane}}
    {{#mps.pane title="Other"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Some card
        </div>
      </div>
    {{/mps.pane}}
  {{/mp.scroller}}
{{/mobile-pane}}