{{scroll-to position=0 key=(concat "posts.post." model.id)}}

{{!--#mobile-pane-old slideableModels=modelCollection currentModel=model as |model|}}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="card post" data-post-id="post-{{model.id}}">
          {{#if model.headerImage}}
            <div class="card-img-top img-responsive">
              <img data-page-image-id="{{model.id}}" class="img-fluid" src="{{model.headerImage}}" alt="Generic placeholder image">
            </div>
          {{/if}}
          {{#link-to "posts.index" class="btn btn-link btn-back"}}{{material-icon 'arrow_back'}}{{/link-to}}
          <div class="card-body" style="position: relative; z-index:2;">
            <h4 class="card-title">{{model.title}}</h4>
            <h6 class="card-subtitle mt-1 mb-3 text-muted d-inline-flex">
              <img src="{{model.author.avatar}}" alt="Avatar" class="rounded-circle mr-3" width="50" height="50">
              <div class="d-flex flex-column justify-content-center">
                <div>{{model.author.name}}</div>
                <div><small>{{moment-format model.published 'DD-MM-YYYY HH:mm'}}</small></div>
              </div>
            </h6>
            <p class="card-text">
              {{{model.bodyAsHtml}}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/mobile-pane-old--}}
{{#mobile-pane activeIndex=pane onChange=(action 'setActiveTabQP') as |mp|}}

  {{to-elsewhere named="mobile-bar-top" send=(component mp.nav class='pt-1 pl-2')}}

  {{#mp.scroller as |mps|}}
    {{#mps.pane title="All"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    {{/mps.pane}}
    {{#mps.pane title="Apps"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Some card
        </div>
      </div>
    {{/mps.pane}}
    {{#mps.pane title="Games"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    {{/mps.pane}}
    {{#mps.pane title="Movies"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      {{network-test}}
    {{/mps.pane}}
    {{#mps.pane title="Music"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Some card
        </div>
      </div>
    {{/mps.pane}}
    {{#mps.pane title="Other"}}
      <div class="card mt-3 ml-2 mr-2">
        <div class="card-body">
          Some card
        </div>
      </div>
    {{/mps.pane}}
  {{/mp.scroller}}
{{/mobile-pane}}