{{scroll-to position=0 key=(concat "posts.post." model.id)}}

<div class="container container-top">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card" data-post-id="post-{{model.id}}">
        <img class="card-img-top" data-page-image-id="{{model.id}}" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Abstract_in_sand_and_sky_%288398922985%29.jpg/640px-Abstract_in_sand_and_sky_%288398922985%29.jpg" alt="Generic placeholder image" style="width: 100%; height: auto;">
        {{#link-to "posts.index" class="btn btn-link btn-back"}}{{material-icon 'arrow_back'}}{{/link-to}}
        <div class="card-block" style="position: relative; z-index:2;">
          <h4 class="card-title">{{model.title}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{model.date}}</h6>
          <p class="card-text">
            {{{model.bodyAsHtml}}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>