{{to-elsewhere named='top-toolbar-btn-left' send=(hash
  targetRoute='home.settings.index'
  icon='keyboard_arrow_left'
  scaleIcon=true
  text='Settings'
)}}
{{to-elsewhere named='top-toolbar-title' send='Account'}}
{{to-elsewhere named='top-toolbar-btn-right' send=(component 'mobile-bar-btn'
  action=(action 'save')
  text='Save'
)}}

{{#mobile-page route='home.settings.account'}}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4 text-primary mb-0 d-none d-sm-block">Account</h1>

        {{#bs-form formLayout='vertical' class="mt-5" as |form|}}
          <div class="d-flex">
            {{user-avatar picture='/img/tomster.png' class='user-avatar--large z-depth-1 mr-3'}}
            <div style="flex-grow: 1;">
              {{form.element controlType="text" label="Name" property="name"}}
            </div>
          </div>

          {{form.element controlType="date" label="Birthdate" property="birthdate" class="mt-3"}}

          <hr class="mt-4 mb-3">

          {{form.element controlType="email" label="Email" property="email"}}
          {{form.element controlType="password" label="Password" property="password"}}

          {{bs-button defaultText="Save" type="primary" buttonType="submit" class="d-none d-sm-block"}}
        {{/bs-form}}
      </div>
    </div>
  </div>
{{/mobile-page}}