{{#mobile-menu-wrapper isOpen=sideMenuOpen as |mmw|}}
  {{#if menuEnabled}}
    {{#mmw.mobile-menu as |mobile-menu|}}
      <div class="mobile-menu__header d-flex flex-column justify-content-between">
        <div class="header__text">
          {{user-avatar
            picture='/img/tomster.png'
            class='z-depth-1'
          }}
        </div>
        <div class="header__btn d-flex justify-content-between">
          <div>
            Tomster
            <small class="d-block">tomster@example.com</small>
          </div>
        </div>
      </div>
      <div class="mobile-menu__body">
        <ul class="nav flex-column">
          <li class="nav-item">
            {{#mobile-menu.link-to 'home.index' class="nav-link"}}{{material-icon 'home'}} Home{{/mobile-menu.link-to}}
          </li>
          <li class="nav-item">
            {{#mobile-menu.link-to 'home.posts' class="nav-link"}}{{material-icon 'archive'}} Archive{{/mobile-menu.link-to}}
          </li>
          <li class="divider"></li>
          <li class="nav-item">
            {{#mobile-menu.link-to 'home.settings' class="nav-link"}}{{material-icon 'settings'}} Settings{{/mobile-menu.link-to}}
          </li>
        </ul>
      </div>
    {{/mmw.mobile-menu}}
  {{/if}}

  {{#mobile-bar-wrapper as |mbw|}}

    {{#animated-container}}
      {{outlet}}
    {{/animated-container}}

    {{#mbw.mobile-bar type='top'}}
      <div class="container">
        <div class="row">
          <div class="mx-2 my-3 d-flex align-items-center w-100" style="position: relative;">
            {{#from-elsewhere name="mobile-bar-top-btn-left" as |btn|}}
              {{#if btn}}
                {{component btn class="mr-auto"}}
              {{else if menuEnabled}}
                {{#mmw.toggle target='left' class="mr-auto"}}{{material-icon 'menu' class='text-light'}}{{/mmw.toggle}}
              {{/if}}
            {{/from-elsewhere}}

            {{#from-elsewhere name="mobile-bar-top-title" as |title|}}
              {{#if title}}
                <h1 class="mobile-bar__title text-white h6 d-inline-block align-middle mb-0">
                  {{title}}
                </h1>
              {{else}}
                <h1 class="mobile-bar__title text-white h4 font-weight-light d-inline-block align-middle mb-0">
                  EmberConf 2018
                </h1>
              {{/if}}
            {{/from-elsewhere}}

            {{from-elsewhere name="mobile-bar-top-btn-right"}}
          </div>
        </div>
        <div class="row">
          {{from-elsewhere name="mobile-bar-top-second-row"}}
        </div>
      </div>
    {{/mbw.mobile-bar}}

    {{#mbw.mobile-bar type='bottom' withShadow=false}}
      {{#bs-navbar fluid=false class='navbar-expand' id='main-menu' as |navbar|}}
        {{#navbar.content}}
          {{#navbar.nav as |nav|}}
            {{#nav.item}}
              {{#nav.link-to "home.index" class='text-center'}}
                {{material-icon 'home' size='lg' class='d-md-none'}}
                <div>Home</div>
              {{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
              {{#nav.link-to "home.posts" class='text-center'}}
                {{material-icon 'archive' size='lg' class='d-md-none'}}
                <div>Archive</div>
              {{/nav.link-to}}
            {{/nav.item}}
            {{#nav.item}}
              {{#nav.link-to "home.settings" class='text-center'}}
                {{material-icon 'settings' size='lg' class='d-md-none'}}
                <div>Settings</div>
              {{/nav.link-to}}
            {{/nav.item}}
          {{/navbar.nav}}
        {{/navbar.content}}
      {{/bs-navbar}}
    {{/mbw.mobile-bar}}
  {{/mobile-bar-wrapper}}
{{/mobile-menu-wrapper}}