{{#animated-container}}
  {{#animated-value 'post-route' rules=transition duration=300}}
    <div class="mobile-page">
      {{#mobile-bar-wrapper as |mbw|}}
        {{#mobile-pane as |mp|}}
          {{#mp.infinite-scroller
            previousModel=previousModel
            currentModel=model
            nextModel=nextModel
          as |mpModel|}}
            <div class="container pan-recognizer-scroll">
              <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                  <div class="card post" data-post-id="post-{{mpModel.id}}">
                    {{#if mpModel.headerImage}}
                      <div>
                        <div class="img-responsive">
                          <img data-page-image-id="{{mpModel.id}}" class="img-fluid" src="{{mpModel.headerImage}}" alt="Generic placeholder image">
                        </div>
                      </div>
                    {{/if}}
                    <div class="card-body">
                      <h4 class="card-title">{{mpModel.title}}</h4>
                      <h6 class="card-subtitle mt-1 mb-3 text-muted d-inline-flex">
                        <img src="{{mpModel.author.avatar}}" alt="Avatar" class="rounded-circle mr-3" width="50" height="50">
                        <div class="d-flex flex-column justify-content-center">
                          <div>{{mpModel.author.name}}</div>
                          <div><small>{{moment-format mpModel.published 'DD-MM-YYYY HH:mm'}}</small></div>
                        </div>
                      </h6>
                      <p class="card-text">
                        {{{mpModel.bodyAsHtml}}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/mp.infinite-scroller}}
        {{/mobile-pane}}

        {{!--#mobile-pane-old slideableModels=modelCollection currentModel=model as |model|}}
          <div class="container pan-recognizer-scroll">
            <div class="row">
              <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="card post" data-post-id="post-{{model.id}}">
                  {{#if model.headerImage}}
                    <div>
                      <div class="img-responsive">
                        <img data-page-image-id="{{model.id}}" class="img-fluid" src="{{model.headerImage}}" alt="Generic placeholder image">
                      </div>
                    </div>
                  {{/if}}
                  <div class="card-body">
                    <h4 class="card-title">{{model.title}}</h4>
                    <h6 class="card-subtitle mt-1 mb-3 text-muted d-inline-flex">
                      <img src="{{model.author.avatar}}" alt="Avatar" class="rounded-circle mr-3" width="50" height="50">
                      <div class="d-flex flex-column justify-content-center">
                        <div>{{model.author.name}}</div>
                        <div><small>{{moment-format model.published 'DD-MM-YYYY HH:mm'}}</small></div>
                      </div>
                    </h6>
                    <p class="card-text">
                      {{{model.bodyAsHtml}}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/mobile-pane-old--}}

        {{#mbw.mobile-bar type='top' collapsibleHeight=57 isLocked=false isOverlay=true withShadow=false}}
          <div class="container">
            <div class="row">
              <div class="m-3 d-flex align-items-center">
                {{mobile-bar-btn targetRoute='home.posts' icon='arrow_back'}}
              </div>
            </div>
          </div>
        {{/mbw.mobile-bar}}
      {{/mobile-bar-wrapper}}
    </div>
  {{/animated-value}}
{{/animated-container}}